<br/>
<div class="container">
    <div class="card">
    <div class="card-header text-white bg-secondary">
    <!-- L'en-tête ici -->
    <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Déclarer un problème</span>
  </nav>
    </div>
    <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <div class="card-text">
      <form class="form-horizontal"
      novalidate
      (ngSubmit)="save()"
      [formGroup]="problemeForm">
      <div class="from-group row">
        <label for="prenomId" class="col-md-2 col-form-label">Prenom</label>
        <div class="col-md-10">
          <input class="form-control" 
          id="prenomId" 
          type="text"
          placeholder="Prenom (obligatoire)"
           formControlName="prenom" 
           [ngClass]="{'is-invalid': (problemeForm.get('prenom').touched ||
           problemeForm.get('prenom').dirty) && 
           !problemeForm.get('prenom').valid,
           'is-valid': (problemeForm.get('prenom').touched ||
           problemeForm.get('prenom').dirty) && 
           problemeForm.get('prenom').valid }"/>

          <span class="form-text" *ngIf="(problemeForm.get('prenom').touched ||
        problemeForm.get('prenom').dirty) && 
        problemeForm.get('prenom').errors">

        <span *ngIf="problemeForm.get('prenom').errors.nbreCaracteresInsuffisants">
          <small class="text-muted">
          Veuillez entrer plus de caractères.
        </small>
        </span>
        <span *ngIf="problemeForm.get('prenom').errors.required">
          <small class="text-muted">
          Merci de saisir votre prénom.
        </small>
        </span>
      </span>
        </div>
      </div>
    </form>
      </div>
    </div>
    <div class="card-footer">
    <!-- Bouton save ici -->
    <button type="button" class="btn btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
        <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 
        2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7
        .793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
      </svg>Sauvegarder</button>
    </div>
    </div>
   </div> 